/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
}

/*Header*/

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Noto Serif Balinese', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3a3a3a;
}

/*Main*/
main {
    background-color: aqua;
    /*Takes up surplus space to force the footer down*/
    flex: 1 0 auto;
    margin-top: 116px;
}

/*Footer*/
footer {
    background-color: #3a3a3a;
    
}

#social-networks {
    display: flex;
        text-align: center;
        justify-content:space-evenly;
        font-size: 160%;
        padding: 20px 0;
        list-style-type: none;
}

#social-networks i {
    color: #ffffff;
    padding: 5%;
}