/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
}

h1 {
    font-family: 'Noto Serif Balinese', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3a3a3a;
    font-size: 120%;
}

/*Header*/

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/*Main*/
main {

    /*Takes up surplus space to force the footer down*/
    flex: 1 0 auto;
    margin-top: 43px;

}

/*Footer*/
footer {
    background-color: #3a3a3a;

}

#social-networks {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: 160%;
    padding: 20px 0;
    list-style-type: none;
}

#social-networks i {
    color: #ffffff;
    padding: 5%;
}

#hero-image {
    height: 746px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgb(89, 89, 89, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

#about-us {
    background-color: #000000;

}


#about-us {
    color: #ffffff;
    padding-bottom: 10px;
    text-align: center;
}

#about-us h1 {
    color: #ffffff;
}

#instructor-one {

    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    text-align: center;
    /* Center text within the container */




}

#yoga-one {
    width: 10em;
    max-height: 10em;
    border-radius: 50%;
}

#instructor-two {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    text-align: center;
    /* Center text within the container */
}

#yoga-two {
    width: 10em;
    max-height: 10em;
    border-radius: 50%;
}

#testimonials-main {

    background: linear-gradient(180deg, rgb(128, 128, 128) 0%, rgb(45, 45, 45) 35%, rgb(0, 0, 0) 100%);
}

#testimonials {
    font-size: 130%;
    color: #ffffff;
    text-align: center;
}

#testimonials p {
    font-size: 100%;
    color: #ffffff;
    text-align: center;
    padding-bottom: 5px;
}

#testimonials h1 {
    color: #ffffff;
    /* Add this to explicitly set the color for h1 */
}

#hannah {
    width: 5em;
    height: 5em;
    border-radius: 50%;

}

#david {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Form */
#signup {
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    border-radius: 25%;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 115%;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 25px;
    border-radius: 15px;
    padding: 5px 32px;
    font-size: 100%;
    background-color: #535353;
    color: #fafafa;
}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 160%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 75px;
    }

    #cover-text {

        background-color: rgb(89, 89, 89, .7);
        font-size: 175%;
        position: absolute;
        right: 0;
        bottom: 30px;
        width: 55%;
        min-height: 200px;
        padding-top: 15px;
        padding-left: 10px;
        padding-bottom: 0;

    }

    /* Form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    #signup-form>h2 {
        text-align: center;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }


    /* Media query: laptops and larger (992px and up) */
    @media screen and (min-width: 992px) {


        #menu a:hover {
            border-bottom: 1px solid #000000;
        }

        #cover-text {
            font-size: 200%;
        }



    }

    #testimonials-main {

        background: linear-gradient(180deg, rgb(128, 128, 128) 0%, rgb(45, 45, 45) 35%, rgb(0, 0, 0) 100%);
    }

    #testimonials {
        font-size: 180%;
        color: #ffffff;
        text-align: center;
    }

    #testimonials p {
        font-size: 100%;
        color: #ffffff;
        text-align: center;
        padding-bottom: 5px;
    }

    #testimonials h1 {
        color: #ffffff;
        /* Add this to explicitly set the color for h1 */
    }

    #hannah {
        width: 10em;
        height: 10em;
        border-radius: 50%;

    }

    #david {
        width: 10em;
        height: 10em;
        border-radius: 50%;
    }

}